/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    padding: 3% 0 6%;
}

a {
    font-weight: 600;
    text-decoration-line: none;
    color: #0074D9;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: #005fbe;
}

li {
    margin: 0;
}

ul.fancy {
    list-style: none;
    margin-bottom: 1.5rem;;
}

ul.fancy li:before {
    margin-left: .5rem;
    content: "- ";
}

.bold {
    font-weight: bold
}

.chart {
    border: 1px dashed #bbb;
    margin-bottom: 2rem;
}

.chart.without.border {
    border: none;
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg text::selection {
    background: none;
}

.full.screen.only {
    display: none;
    width: 100%;
    height: 100%;
}

.full.screen.only:-webkit-full-screen {
    display: block;
}

.full.screen.only:-moz-full-screen {
    display: block;
}

.full.screen.only:-ms-fullscreen {
    display: block;
}

.full.screen.only:fullscreen {
    display: block;
}

/* Chart
------------------------------------------- */

#chart-tooltip {
    max-width: 75%;
    max-height: 75%;
    animation: zoomInDown 150ms;
    pointer-events: none;
    text-align: left;
    color: #000000;
    background: #ffffff;
    position: absolute;
    z-index: 100;
    padding: 15px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);
}

#chart-tooltip:after /* triangle decoration */
{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#chart-tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #ffffff;
    top: -20px;
    bottom: auto;
}

#chart-tooltip.left:after {
    left: 10px;
    margin: 0;
}

#chart-tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section.split {
    margin: .5em 0 3.5em;
}

.section.split.line {
    border-bottom: 2px dotted #eee;
}

.section .description p {
    margin-bottom: 1.5rem;
}

.section .description p.large {
    font-size: 16px;
}

.section .description p.medium {
    font-size: 15px;
}

.section .description p.small {
    font-size: 14px;
}

.section .description .extra.margin {
    margin-top: 1.5rem;
}

.section .underline {
    text-decoration-line: underline;
    text-decoration-color: #aaa;
}

.section .underline.dashed {
    text-decoration-style: dashed;
}

.section .underline.dotted {
    text-decoration-style: dotted;
}

.section .underline.wavy {
    text-decoration-style: wavy;
}

.section .image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding-bottom: 2rem;
}

.section .subtitle {
    margin-bottom: 2rem;
    font-size: 20px;
    color: #666;
}

.section .button {
    margin-top: 1rem;
    letter-spacing: .02rem;
}


.section .description p .nice-select {
    display: inline;
    float: none;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 15px;
    padding-right: 25px;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro.section .title {
    margin-bottom: 0;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
    background-image: url('../images/values-bg.jpg');
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
}

.value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
}

.value-heading {
    margin-bottom: .3rem;
}

.value-description {
    opacity: .8;
    font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
    border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
    background-image: url('../images/values-bg.jpg');
    background-size: cover;
    color: #fff;
}

.categories .section-description {
    margin-bottom: 4rem;
}