/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    display: inline-block;
}

.nice-select, .inline {
    display: inline;
    float: none;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 15px;
    padding-right: 25px;
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg text::selection {
    background: none;
}

:-webkit-full-screen * {
    position: fixed;
    max-height: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

:-moz-full-screen * {
    position: fixed;
    max-height: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

:-ms-fullscreen * {
    position: fixed;
    max-height: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

:fullscreen * {
    position: fixed;
    max-height: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

:-webkit-full-screen {
    width: 100%;
}

:-moz-full-screen {
    width: 100%;
}

:-ms-fullscreen {
    width: 100%;
}

:fullscreen {
    width: 100%;
}

/* Chart
------------------------------------------- */

#chart-tooltip {
    pointer-events:none;
    text-align: left;
    color: #000000;
    background: #ffffff;
    position: absolute;
    z-index: 100;
    padding: 15px;
    box-shadow:0 0 35px 0 rgba(0,0,0,.15);
}

.test:not(.nohover):hover {
    border: 1px solid red;
}

#chart-tooltip:after /* triangle decoration */
{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#chart-tooltip.top:after
{
    border-top-color: transparent;
    border-bottom: 10px solid #ffffff;
    top: -20px;
    bottom: auto;
}

#chart-tooltip.left:after
{
    left: 10px;
    margin: 0;
}

#chart-tooltip.right:after
{
    right: 10px;
    left: auto;
    margin: 0;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 8rem 0 7rem;
    text-align: left;
}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

.section, .bordered {
    border-bottom: 2px dotted #eee;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
    text-align: justify;
}

.hero.section {
    padding-top: 3%;
}

.hero-title {
    text-align: left;
    margin-bottom: 0;
}

.hero-subtitle {
    margin-bottom: 2rem;
    font-size: 20px;
    color: #666;
    text-align: left;
}

.hero-description .large {
    font-size: 16px;
}

.hero-description .medium {
    font-size: 15px;
}

.hero-description .small {
    font-size: 14px;
}

.hero-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding-bottom: 2rem;
}

.hero-button {
    margin-top: 1rem;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
    background-image: url('../images/values-bg.jpg');
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
}

.value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
}

.value-heading {
    margin-bottom: .3rem;
}

.value-description {
    opacity: .8;
    font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
    border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
    background-image: url('../images/values-bg.jpg');
    background-size: cover;
    color: #fff;
}

.categories .section-description {
    margin-bottom: 4rem;
}