/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    display: inline-block;
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg text::selection {
    background: none;
}

:-webkit-full-screen * {
    display: block;
    position: fixed;
    max-height: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

:-moz-full-screen * {
    display: block;
    position: fixed;
    max-height: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

:-ms-fullscreen * {
    display: block;
    position: fixed;
    max-height: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

:fullscreen * {
    display: block;
    position: fixed;
    max-height: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

:-webkit-full-screen {
    display: block;

    width: 100%;
}

:-moz-full-screen {
    display: block;

    width: 100%;
}

:-ms-fullscreen {
    display: block;

    width: 100%;
}

:fullscreen {
    display: block;

    width: 100%;
}

.full-screen-only {
    display:none;
}

.full-screen-only:-webkit-full-screen {
    display:block;
}

.full-screen-only:-moz-full-screen {
    display:block;
}

.full-screen-only:-ms-fullscreen {
    display:block;
}

.full-screen-only:fullscreen {
    display:block;
}

/* Chart
------------------------------------------- */

#chart-tooltip {
    animation: zoomInDown 150ms;
    pointer-events: none;
    text-align: left;
    color: #000000;
    background: #ffffff;
    position: absolute;
    z-index: 100;
    padding: 15px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);
}

#chart-tooltip:after /* triangle decoration */
{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#chart-tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #ffffff;
    top: -20px;
    bottom: auto;
}

#chart-tooltip.left:after {
    left: 10px;
    margin: 0;
}

#chart-tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 6rem 0 6rem;
    text-align: left;
}

.section.splitter {
    padding: 0 0 0 0;
    border-bottom: 2px dotted #eee;
}

.section .description p {
    margin-bottom: 1.5rem;
}

.section .description .large {
    font-size: 16px;
}

.section .description .medium {
    font-size: 15px;
}

.section .description .small {
    font-size: 14px;
}

.section .image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding-bottom: 2rem;
}

.section .title {
    text-align: left;
}

.section .subtitle {
    margin-bottom: 2rem;
    font-size: 20px;
    color: #666;
    text-align: left;
}

.section .button {
    margin-top: 1rem;
}

.section .description p .nice-select {
    display: inline;
    float: none;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 15px;
    padding-right: 25px;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
    text-align: justify;
}

.hero.section {
    padding-top: 3%;
}

.hero .title {
    margin-bottom: 0;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
    background-image: url('../images/values-bg.jpg');
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
}

.value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
}

.value-heading {
    margin-bottom: .3rem;
}

.value-description {
    opacity: .8;
    font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
    border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
    background-image: url('../images/values-bg.jpg');
    background-size: cover;
    color: #fff;
}

.categories .section-description {
    margin-bottom: 4rem;
}