#data-exploration svg {
    border: 1px solid #bbb;
    border-radius: 5px;
    background-color: white;
}

#data-exploration text {
    fill: grey;
}

#data-exploration text.tiny {
    font-size: 10pt;
}

#data-exploration text.light {
    fill: #6b6b6b
}

#data-exploration .text-background {
    fill: rgb(250, 250, 250);
    stroke: rgb(250, 250, 250);
    stroke-width: 3px;
}

#data-exploration line {
    animation: zoomInDown 300ms;
    stroke: lightgrey;
}

#data-exploration #header #title {
    letter-spacing: 15pt;
    font-weight: 200;
}

#data-exploration #header .name {
    font-size: 30pt;
}

#data-exploration #header .label {
    fill: lightgrey;
    font-size: 10pt;
}

#data-exploration #axis-container text {
    font-size: 8pt;
}

#data-exploration .left {
    stroke: blue;
}

#data-exploration .right {
    stroke: red;
}

#data-exploration circle {
    animation: zoomInDown 250ms;
    fill: transparent;
    stroke: transparent;
}

#data-exploration circle.left {
    fill: #ffffff;
}

#data-exploration circle.right {
    fill: #ffffff;
}

#data-exploration .slope {
    stroke: grey;
}

#data-exploration .tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 14px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(250, 250, 250);
    color: grey;
    border: 1px solid grey;
    border-radius: 3px;
    pointer-events: none;
}